.table{
border: 1PX SOLID black;
width: 40%;
}
.one{
background-color: #FE0000;
}
.two{
background-color: #FF9C00;
}
.three{
background-color: #F5FF00;
}
.four{
background-color: #3CF10E;
}
.five{
background-color: #01FFE5;
}
.six{
background-color: #0024FF;
}
.seven{
background-color: #C500FF;
}
.eight{
background-color: #FF009C;
}
